/* Custom Styles for Portfolio */

/* Button */
.btn-highlight3{
  background-color: hsl(40, 100%, 47%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fec656", endColorstr="#ef9f00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fec656), to(#ef9f00));
  background-image: -moz-linear-gradient(top, #fec656, #ef9f00);
  background-image: -ms-linear-gradient(top, #fec656, #ef9f00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fec656), color-stop(100%, #ef9f00));
  background-image: -webkit-linear-gradient(top, #fec656, #ef9f00);
  background-image: -o-linear-gradient(top, #fec656, #ef9f00);
  background-image: linear-gradient(#fec656, #ef9f00);
  border-color: #ef9f00 #ef9f00 hsl(40, 100%, 42%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

/*general styles*/
.center{
    text-align: center;
    padding-bottom: 25px;

}

hr {
    margin-bottom: 30px;
}

.divider{
    margin-top: 50px;
}

/* Navbar customization */
.navbar-wrapper{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
}

.navbar
.navbar-inner{
	border: 0;
	-webkit-box-shadow: 0 3px 20px rgba(0,0,0,.25);
	   -moz-box-shadow: 0 3px 20px rgba(0,0,0,.25);
			box-shadow: 0 3px 20px rgba(0,0,0,.25);
}

.navbar .btn-navbar {
    margin-right: 30px;
}

.navbar 
.brand{
	padding: 10px 10px 10px;
	font-size: 16px;
	font-weight: bold;
	text-shadow: none;
    margin-left: 20px;
}

.dropdown-menu{
	font-size: 12px;
	font-weight: normal;
	text-shadow: none;
}


/* Carousel Customization */
.car-back{
    position: absolute;
    min-width: 100%;
    height: auto;
    background-color: #FFF;
}

.carousel-control {
	height: 80px;
	margin-top: 0;
	font-size: 120px;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	background-color: transparent;
	border: 0;
}

.carousel img{
    min-width: 100%;
    top: 0;
    left: 0;
    height: auto;
}

.carousel,
.item{
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.25);
		-moz-box-shadow: 0 4px 10px rgba(0,0,0,.25);
			box-shadow: 0 4px 10px rgba(0,0,0,.5);
}

.carousel-caption{
    font-size: 20px;
    background-color: rgba(0,0,0,.2);
    padding-bottom: 100px;
    padding-left: 100px;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}


/*text customization*/
li {
    line-height: 20px;
    margin-left: 20px;
}

.desc{
    padding-top: 20px;
}

.feature{
    font-size: 45px;
    font-weight: 600;
    line-height: 35px;

}

.smaller{
    font-weight: 500;
    font-size: 30px;
}

.lead{
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    line-height: 1.25;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.highlight1{
    color: #0088cc;
}

.highlight2{
    color: #95C325;
}

.highlight3{
    color: #FB9902;
}

.row{
    margin-top: 30px;
}

.mouse-over a{
    color: inherit;
}

#link1 {
    margin-bottom: 20px;
}
#link1 a:hover{
    color: #0088cc;
    text-decoration: none;
    margin-bottom: 10px;
}

#link2 {
    margin-bottom: 20px;
}
#link2 a:hover{
    color: #95C325;
    text-decoration: none;
}

#link3 {
    margin-bottom: 20px;
}
#link3 a:hover{
    color: #FB9902;
    text-decoration: none;
}

#contacttext{
    margin-top: -20px;
}

#blurb{
    margin-top: 30px;
}

/*img customization*/

#thumb{
	height: 150px;
	width: 150px;
	display: inline-block;
}

#thumbs{
	margin-top: 30px;	
}

.contact{
    max-height: 100px;
    max-width: 100px;
    border-radius: 20px;
}

#twit{
    padding-top: 6px;
    max-height: 90px;
}

#linked{
    padding-top: 2px;
    max-height: 98px;
}

#liislogo{
    margin-top: 40px;
}

/*temp styles*/
.space{
    height: 100px;
}

#avatar{
    max-height: 200px;
    max-width: 175px;
    margin-top: 40px;
}
