#grad{
    top: 0px;
    position: absolute;
    background: -webkit-radial-gradient(lightgrey 5%, white 95%); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(lightgrey 5%, white 95%); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(lightgrey 5%, white 95%); /* For Firefox 3.6 to 15 */
    background: radial-gradient(lightgrey 5%, white 95%); /* Standard syntax */
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#header {
    margin-top: 200px;
    font-size: 6em;
    font-weight: 700;
}

#hr {
    width: 500px;
    margin-top: -40px;
}

#contacts {
    font-family: monospace;
    font-size: 12pt;
    font-weight: 100;
    letter-spacing: 5px;
}

#avatar {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

a {
    color: black;
}
a, a:hover {
    text-decoration: none;
}

#RS:hover {
    color: #A38CD9;
}
#LI:hover {
    color: #6AB4CD;
}

#GH:hover {
    color: #6FCC66;
}

@media screen and (max-width: 780px){
    .container{
        width: 400px;
    }

    #header {
        font-size: 4em;
        margin-top: 30%;
        margin-bottom: 50px;
    }

    #avatar {
        position: absolute;
        top: 10%;
        left: 37%;
    }

    #hr {
        padding-top: 15px;
        width: 100%;

    }
}

@media screen and (max-width: 480px){
    .container{
        width: 300px;
    }

    #header {
        text-align: center;
        margin-left: 20px;
        margin-top: 200px;
        font-size: 2em;
    }

    #contacts {
        letter-spacing: 3px;
    }
}
