#grad{
  top: 0px;
  position: absolute;
  background: -webkit-radial-gradient(lightgrey 5%, white 95%); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(lightgrey 5%, white 95%); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(lightgrey 5%, white 95%); /* For Firefox 3.6 to 15 */
  background: radial-gradient(lightgrey 5%, white 95%); /* Standard syntax */
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#header {
  margin-top: 200px;
  font-size: 6em;
  font-weight: 700;
  position: relative;
}

#hr {
  width: 500px;
  margin-top: -40px;
}

#contacts {
  font-family: monospace;
  font-size: 12pt;
  font-weight: 100;
  letter-spacing: 5px;
}

#avatar {
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
  border-radius: 100px;
}

#squares {
  float: right;
  margin-top: -200px;
  margin-right: -40px;
  position: fixed;
}

a {
  color: black;
}
a, a:hover {
  text-decoration: none;
}

#RS:hover {
  color: #A38CD9;
}
#LI:hover {
  color: #6AB4CD;
}

#GH:hover {
  color: #A38CD9;
}

#TW {
  letter-spacing: 1px;
  font-size: 11pt;
  color: grey;
}

#TW:hover {
  color: #6AB4CD;
}

@media screen and (max-width: 780px){
    .container{
      width: 500px;
    }

    #header {
      font-size: 4em;
      margin-top: 200px;
      margin-bottom: 50px;
      margin-left: 25%;
    }

    #avatar {
      position: absolute;
      top: -100px;
      left: 110px;
    }

    #hr {
      padding-top: 15px;
      width: 100%;
      margin-left: -100px;
    }

    #contacts {
      width: 375px;
      text-align: center;
      margin-left: -38px;
    }

    #squares {
      display: none;
    }
}

@media screen and (max-width: 480px){
    .row {
      margin-left: 27px;
      margin-right: 0;
    }

    .container{
      width: 300px;
    }

    #avatar {
      height: 80px;
      width: 80px;
      left: 137px;
      margin-left: -15px;
    }

    #header {
      text-align: center;
      margin-left: 0px;
      margin-top: 200px;
      font-size: 2em;
    }

    #contacts {
      letter-spacing: 3px;
    }

    #squares {
      display: none;
    }

}
