body{
    background-image: url('/images/back.JPG');
}

#wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 800px;
    height: 500px;
	padding-top: 50px;
}

#main{
    position: fixed;
    z-index: 10;
    background: #fff url('images/back.JPG') repeat;
	border-radius: 15px;
    width: 800px;
    height: 400px;
}

#top{
 
 top: 0px;
 left: 270px;
 width: 1000px;
 z-index: 1;
}

#mid{
 position: absolute;
 top: 620px;
 left: 270px;
 width: 1000px;
 z-index: 0;
}

#bot{
 position: absolute;
 top: 1370px;
 left: 270px;
 width: 1000px;
 z-index: 2;
}

.text{
	position: absolute;
    font-family: comesinhandy;
    font-size: 35px;
    text-align: center;
    white-space: nowrap;
	padding-top: 250px;
	padding-left: 280px;
}


@font-face {
    font-family: comesinhandy;
    src: url('/fonts/comesinhandy.ttf');
}