body{
    background-image: url('/images/back.JPG');
}

#wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 1000px;
	padding-top: 50px;
}

#main{

}

#img{
	max-height: 1000px;
	max-width: 1000px;
}

.text{
	position: absolute;
    font-family: comesinhandy;
    font-size: 35px;
    text-align: center;
    white-space: nowrap;
	padding-top: 250px;
	padding-left: 280px;
}


@font-face {
    font-family: comesinhandy;
    src: url('/fonts/comesinhandy.ttf');
}