body{
    background: url('../images/back.JPG');
}

#wrapper {
	margin: 1px auto;
	padding: 0;
	width: 1000px;
	height: 300px;
}

#main{
	position: relative;
	float: left;
    top: 30px;
	left: 100px;
    background: #000;
	border-radius: 20px;
    
}

#top{
 top: 0px;
 left: 50px;
 width: 1000px;
 z-index: 1;
}

#mid{
 
 top: 620px;
 left: 0px;
 width: 1000px;
 z-index: 0;
}

#bot{
 
 top: 1500px;
 left: 0px;
 width: 1000px;
 z-index: 2;
}

.text{
	position: absolute;
    font-family: comesinhandy;
    font-size: 35px;
    text-align: center;
    white-space: nowrap;
	padding-top: 250px;
	padding-left: 280px;
}


@font-face {
    font-family: comesinhandy;
    src: url('/fonts/comesinhandy.ttf');
}